$prefix-list: webkit, moz, ms, o;

$breakpoints: (
  xs: 0px,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  2xl: 1400px,
);

$font-weights: (
  thin: 100,
  extraLight: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semiBold: 600,
  bold: 700,
  extraBold: 800,
  black: 900,
);
